<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SelforgeGridSuite" parallel="tests" thread-count="2">

    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

    <test name="Chrome-1">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="ui.DuckTest"/>
        </classes>
    </test>

    <test name="Chrome-2">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="ui.DuckTest"/>
        </classes>
    </test>

</suite>
